@charset "UTF-8";

:root{
    --cor_fundo: rgb(18, 18, 18);
    --cor_fundo_menu: rgb(36, 36, 36);
    --cor_fundo_forms: rgb(37, 30, 30);
    --cor_letras: rgb(112, 111, 111);
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    height: 100vh;
    width: 100vw;
}

body{
    background-color: rgb(9, 16, 9);
    background-image: linear-gradient(rgba(0, 0, 0, 0.914), rgba(0, 0, 0, 0.914)),url('../imagens/folhas.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--cor_fundo_menu);
    width: 250px;
    height: 500px;
    border-radius: 20px;

    overflow: hidden;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.833);

    transition: width 1.3s, height 1.3s;
    transition-timing-function: ease;
}

#imagem{
    display: block;

    background: var(--cor_fundo) url("../imagens/folhas.jpg");
    background-size: cover;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.622);
    
    height: 150px;
}

#formulario{
    display: block;
    padding: 10px;
}

#formulario h1{
    text-align: center;
    margin-bottom: 10;
    color: var(--cor_letras);
}

#formulario p{
    font-size: 0.8em;
    color: var(--cor_letras);

}

#icon_email{
    height: 10px;
    color: rgb(32, 123, 70);
    font-size: medium;
}

#icon_cadeado{
    height: 10px;
    color: rgb(32, 123, 70);
    font-size: medium;
}

label{
    color: var(--cor_letras);
    font-size: small;
}

form>input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(35, 141, 115);
    border-radius: 10px;
    border: none;
}

form input[type=submit]:hover{
    background-color: rgb(24, 89, 72);
}

form a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    text-decoration: none;
    color: var(--cor_letras);
}

.campo{
    margin: 10px 0px;
    height: 40px;
}

.entrada{
    background-color: var(--cor_fundo_forms);
    color: var(--cor_letras);
    border-radius: 20px;
    border: none;
    text-align: center;
    font-size: small;
    padding: 5px;
}